<div class="wrap">
  <div class="container">
    <a rel="nofollow" target="__blank" href="https://zeabur.com?referralCode=ikxin&utm_source=ikxin">Deployed on Zeabur</a>
    <a rel="nofollow" target="__blank" href="https://beian.miit.gov.cn">沪ICP备2024070610号-3</a>
  </div>
</div>
<style>
html[class~=dark] .wrap {
  color: #f3f4f6;
}

.wrap {
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-right: -24px;
  border-top: 1px solid #ECECEC;
  color: rgb(0, 0, 0);
  display: block;
}

html[class~=dark] .wrap {
  border-top: 1px solid #2A2A2A;
}

.container {
  width: 100%;
  display: flex;
  /* gap: 20px; */
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: max(env(safe-area-inset-bottom),12px);
}

.container a {
  padding: 0.5rem;
  color: currentColor;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .wrap {
    display: block;
  }
}
</style>